@import '~antd/dist/antd.css';

.flex{
    display: flex;
    flex-direction: row;
}
.flex .column{
    flex-direction: column;
}

.width100 {
    width: 100%;
}
.width80 {
    width: 80%;
}
.width70 {
    width: 70%;
}
.width66 {
    width: 66.666666666666666666666666666667%;
}
.width60 {
    width: 60%;
}
.width50 {
    width: 50%;
}
.width40 {
    width: 40%;
}
.width33 {
    width: 33.333333333333333333333333333333%;
}
.width30 {
    width: 30%;
}
.width25 {
    width: 25%;
}
.width20 {
    width: 20%;
}
.width15 {
    width: 15%;
}

