@import '~antd/dist/antd.css';

.flex{
    display: flex;
    flex-direction: row;
}
.flex .column{
    flex-direction: column;
}

.width100 {
    width: 100%;
}
.width80 {
    width: 80%;
}
.width70 {
    width: 70%;
}
.width66 {
    width: 66.666666666666666666666666666667%;
}
.width60 {
    width: 60%;
}
.width50 {
    width: 50%;
}
.width40 {
    width: 40%;
}
.width33 {
    width: 33.333333333333333333333333333333%;
}
.width30 {
    width: 30%;
}
.width25 {
    width: 25%;
}
.width20 {
    width: 20%;
}
.width15 {
    width: 15%;
}

.custom_tooltip_container{
    position: relative;
}

.custom_tooltip_container:hover >.custom_tooltip{
    display: block;
}

.custom_tooltip{
    display: none;
    z-index: 200;
    position: absolute;
    background-color: gray;
    color: white;
    bottom: 100%;
    padding: 5px;
    width: 332px;
    left: -115px;
    font-size: 12px;
    word-wrap: break-word;

    speed{
        color: yellow
    }
    item_title{
        color: yellowgreen;
    }
    item_gold{
        color: gold;
    }
    stats{
        color: #eae6ff;
    }
}




