.userInfoWrap{
    display: flex;
    flex-direction: row;
    background-color: #f4f4f4;
    margin-bottom: 10px;
}

.userInfoWrap .userIcon{
    width: 20%;
}

.userInfoWrap .userIcon .userIconImage{
    width: 100%;
}

.userInfoWrap .userBasicData{
    width: 100%;
}

.MatchWrap{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    padding: 0 10px;
    align-items: center;
    justify-content: space-evenly;
}

#Match_true{
    background-color: #a3cfec;
}

#Match_false{
    background-color: #e2b6b3;
}

.MatchWrap .MyWrap{
    align-items: center;
    width: 170px;
}

.MatchWrap .MyWrap .summoner1{
    margin-bottom: 5px;

}
.MatchWrap .MyWrap .MyChampionInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    margin-right: 10px;
}

.MatchWrap .MyWrap .MyChampionInfo .MyChampionImage{
    width: 60px;
}

.MatchWrap .MyWrap .MyChampionInfo .MyChampionImage img{
    border-radius: 100px;
}

.MatchWrap .MyWrap .perk .sub_perk_image{
    padding: 6px;
}

.MatchWrap .MatchStatWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.MatchWrap .MatchStatWrap .game_time{
    font-size: 11px;
}

.itemWrap{
    width: 115px;
}

.itemWrap .user_item{
    display: inline-block;
}

.teamWrap{
    display: flex;
    flex-direction: row;
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 11px;
}

.teamWrap .team1{
    margin-right: 15px;
}

.teamWrap .sub_champion_image{
    width: 20px;
}

.teamWrap .team_participants{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

img {
    width: 100%;
}


.detail_data_main{
    background-color: #f4f4f4;
    padding: 15px;
}

.team_data_wrap{
    padding: 5px;
}

.team_data_wrap .team1_deal{
    margin-bottom: 5px;
    background-color: gray;
    border-radius: 0 15px 15px 0;
}

.team1_bar{
    background-color: rgb(160, 2, 2);
    color: white;
    border-radius: 0 15px 15px 0;
}

.team2_bar{
    background-color: rgb(0, 53, 133);
    color: white; 
    border-radius: 0 15px 15px 0;
}

.deal_text{
    margin-top: 5px;
}
